Snigdha Setty Chandaluri-16352688

In [4]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from datetime import datetime

In [5]:
car_data=pd.read_csv("train.csv")

In [6]:
car_data

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,NaN,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,NaN,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,NaN,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,NaN,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,NaN,4.00
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,NaN,2.90
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,NaN,2.65
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,NaN,2.50

a) Look for the missing values in all the columns and either impute them (replace with mean,
median, or mode) or drop them. Justify your action for this task.

In [8]:
missing_values = car_data.isnull().sum()
print(missing_values) # Checking for missing values

missing_columns = []
for col, value in missing_values.items():
    if value > 0:
        missing_columns.append(col)

print("Columns with missing values:", missing_columns)

Unnamed: 0              0
Name                    0
Location                0
Year                    0
Kilometers_Driven       0
Fuel_Type               0
Transmission            0
Owner_Type              0
Mileage                 2
Engine                 36
Power                  36
Seats                  38
New_Price            5032
Price                   0
dtype: int64
Columns with missing values: ['Mileage', 'Engine', 'Power', 'Seats', 'New_Price']

In [9]:
for col in missing_columns:
    if car_data[col].dtype == 'object':
        car_data[col].fillna(car_data[col].mode()[0], inplace=True)
    else:
        car_data[col].fillna(car_data[col].mean(), inplace=True)

In [10]:
car_data.info

<bound method DataFrame.info of       Unnamed: 0                              Name    Location  Year  \
0              1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015
1              2                      Honda Jazz V     Chennai  2011
2              3                 Maruti Ertiga VDI     Chennai  2012
3              4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013
4              6            Nissan Micra Diesel XV      Jaipur  2013
...          ...                               ...         ...   ...
5842        6014                  Maruti Swift VDI       Delhi  2014
5843        6015          Hyundai Xcent 1.1 CRDi S      Jaipur  2015
5844        6016             Mahindra Xylo D4 BSIV      Jaipur  2012
5845        6017                Maruti Wagon R VXI     Kolkata  2013
5846        6018             Chevrolet Beat Diesel   Hyderabad  2011

      Kilometers_Driven Fuel_Type Transmission Owner_Type     Mileage  \
0                 41000    Diesel       Manual      First  19.67 kmpl
1                 46000    Petrol       Manual      First    13 km/kg
2                 87000    Diesel       Manual      First  20.77 kmpl
3                 40670    Diesel    Automatic     Second   15.2 kmpl
4                 86999    Diesel       Manual      First  23.08 kmpl
...                 ...       ...          ...        ...         ...
5842              27365    Diesel       Manual      First   28.4 kmpl
5843             100000    Diesel       Manual      First   24.4 kmpl
5844              55000    Diesel       Manual     Second   14.0 kmpl
5845              46000    Petrol       Manual      First   18.9 kmpl
5846              47000    Diesel       Manual      First  25.44 kmpl

       Engine      Power  Seats  New_Price  Price
0     1582 CC  126.2 bhp    5.0  4.78 Lakh  12.50
1     1199 CC   88.7 bhp    5.0  8.61 Lakh   4.50
2     1248 CC  88.76 bhp    7.0  4.78 Lakh   6.00
3     1968 CC  140.8 bhp    5.0  4.78 Lakh  17.74
4     1461 CC   63.1 bhp    5.0  4.78 Lakh   3.50
...       ...        ...    ...        ...    ...
5842  1248 CC     74 bhp    5.0  7.88 Lakh   4.75
5843  1120 CC     71 bhp    5.0  4.78 Lakh   4.00
5844  2498 CC    112 bhp    8.0  4.78 Lakh   2.90
5845   998 CC   67.1 bhp    5.0  4.78 Lakh   2.65
5846   936 CC   57.6 bhp    5.0  4.78 Lakh   2.50

[5847 rows x 14 columns]>

b) Remove the units from some of the attributes and only keep the numerical values (for
example remove kmpl from “Mileage”, CC from “Engine”, bhp from “Power”, and lakh from
“New_price”).

In [11]:
column_data_typ = car_data.dtypes

# Print the data types of columns
print(column_data_typ)

Unnamed: 0             int64
Name                  object
Location              object
Year                   int64
Kilometers_Driven      int64
Fuel_Type             object
Transmission          object
Owner_Type            object
Mileage               object
Engine                object
Power                 object
Seats                float64
New_Price             object
Price                float64
dtype: object

In [12]:
car_data

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67 kmpl,1582 CC,126.2 bhp,5.0,4.78 Lakh,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,13 km/kg,1199 CC,88.7 bhp,5.0,8.61 Lakh,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77 kmpl,1248 CC,88.76 bhp,7.0,4.78 Lakh,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.2 kmpl,1968 CC,140.8 bhp,5.0,4.78 Lakh,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08 kmpl,1461 CC,63.1 bhp,5.0,4.78 Lakh,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.4 kmpl,1248 CC,74 bhp,5.0,7.88 Lakh,4.75
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.4 kmpl,1120 CC,71 bhp,5.0,4.78 Lakh,4.00
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.0 kmpl,2498 CC,112 bhp,8.0,4.78 Lakh,2.90
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.9 kmpl,998 CC,67.1 bhp,5.0,4.78 Lakh,2.65
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44 kmpl,936 CC,57.6 bhp,5.0,4.78 Lakh,2.50

In [13]:
car_data['Mileage'] = car_data['Mileage'].astype(str)
car_data['Engine'] = car_data['Engine'].astype(str)
car_data['Power'] = car_data['Power'].astype(str)
car_data['New_Price'] = car_data['New_Price'].astype(str)

car_data['Mileage'] = car_data['Mileage'].str.extract('(\d+.\d+)').astype(float)


car_data['Engine'] = car_data['Engine'].str.replace(' CC', '')
car_data['Engine'] = pd.to_numeric(car_data['Engine'], errors='coerce')


default_engine_value = 0
car_data['Engine'] = car_data['Engine'].fillna(default_engine_value).astype(int)

car_data['Power'] = car_data['Power'].str.extract('(\d+.\d+)').astype(float)
car_data['New_Price'] = car_data['New_Price'].str.extract('(\d+.\d+)').astype(float)

In [14]:
car_data

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Fuel_Type,Transmission,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,Diesel,Manual,First,19.67,1582,126.20,5.0,4.78,12.50
1,2,Honda Jazz V,Chennai,2011,46000,Petrol,Manual,First,NaN,1199,88.70,5.0,8.61,4.50
2,3,Maruti Ertiga VDI,Chennai,2012,87000,Diesel,Manual,First,20.77,1248,88.76,7.0,4.78,6.00
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Diesel,Automatic,Second,15.20,1968,140.80,5.0,4.78,17.74
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,Diesel,Manual,First,23.08,1461,63.10,5.0,4.78,3.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,Diesel,Manual,First,28.40,1248,NaN,5.0,7.88,4.75
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,Diesel,Manual,First,24.40,1120,NaN,5.0,4.78,4.00
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Diesel,Manual,Second,14.00,2498,112.00,8.0,4.78,2.90
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,Petrol,Manual,First,18.90,998,67.10,5.0,4.78,2.65
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,Diesel,Manual,First,25.44,936,57.60,5.0,4.78,2.50

C) Change the categorical variables (“Fuel_Type” and “Transmission”) into numerical one hot
encoded value.

In [15]:
label_encoder = LabelEncoder()
car_data['Fuel_Type_Label'] = label_encoder.fit_transform(car_data['Fuel_Type'])
car_data['Transmission_Label'] = label_encoder.fit_transform(car_data['Transmission'])

onehot_encoder = OneHotEncoder(sparse=False)

fuel_type_encoded = onehot_encoder.fit_transform(car_data[['Fuel_Type_Label']])
transmission_encoded = onehot_encoder.fit_transform(car_data[['Transmission_Label']])

fuel_type_encoded_df = pd.DataFrame(fuel_type_encoded, columns=['Fuel_Type_' + str(i) for i in range(fuel_type_encoded.shape[1])])
transmission_encoded_df = pd.DataFrame(transmission_encoded, columns=['Transmission_' + str(i) for i in range(transmission_encoded.shape[1])])

car_data = pd.concat([car_data, fuel_type_encoded_df, transmission_encoded_df], axis=1)

car_data.drop(['Fuel_Type', 'Transmission', 'Fuel_Type_Label', 'Transmission_Label'], axis=1, inplace=True)

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(
/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

In [16]:
car_data

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Fuel_Type_0,Fuel_Type_1,Fuel_Type_2,Transmission_0,Transmission_1
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582,126.20,5.0,4.78,12.50,1.0,0.0,0.0,0.0,1.0
1,2,Honda Jazz V,Chennai,2011,46000,First,NaN,1199,88.70,5.0,8.61,4.50,0.0,0.0,1.0,0.0,1.0
2,3,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248,88.76,7.0,4.78,6.00,1.0,0.0,0.0,0.0,1.0
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968,140.80,5.0,4.78,17.74,1.0,0.0,0.0,1.0,0.0
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461,63.10,5.0,4.78,3.50,1.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,First,28.40,1248,NaN,5.0,7.88,4.75,1.0,0.0,0.0,0.0,1.0
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,First,24.40,1120,NaN,5.0,4.78,4.00,1.0,0.0,0.0,0.0,1.0
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Second,14.00,2498,112.00,8.0,4.78,2.90,1.0,0.0,0.0,0.0,1.0
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,First,18.90,998,67.10,5.0,4.78,2.65,0.0,0.0,1.0,0.0,1.0
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,First,25.44,936,57.60,5.0,4.78,2.50,1.0,0.0,0.0,0.0,1.0

d) Create one more feature and add this column to the dataset (you can use mutate function in
R for this). For example, you can calculate the current age of the car by subtracting “Year” value
from the current year.

In [17]:
curr_year = datetime.now().year
car_data['Current_Age'] = curr_year - car_data['Year']
car_data

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,New_Price,Price,Fuel_Type_0,Fuel_Type_1,Fuel_Type_2,Transmission_0,Transmission_1,Current_Age
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582,126.20,5.0,4.78,12.50,1.0,0.0,0.0,0.0,1.0,9
1,2,Honda Jazz V,Chennai,2011,46000,First,NaN,1199,88.70,5.0,8.61,4.50,0.0,0.0,1.0,0.0,1.0,13
2,3,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248,88.76,7.0,4.78,6.00,1.0,0.0,0.0,0.0,1.0,12
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968,140.80,5.0,4.78,17.74,1.0,0.0,0.0,1.0,0.0,11
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461,63.10,5.0,4.78,3.50,1.0,0.0,0.0,0.0,1.0,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,First,28.40,1248,NaN,5.0,7.88,4.75,1.0,0.0,0.0,0.0,1.0,10
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,First,24.40,1120,NaN,5.0,4.78,4.00,1.0,0.0,0.0,0.0,1.0,9
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Second,14.00,2498,112.00,8.0,4.78,2.90,1.0,0.0,0.0,0.0,1.0,12
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,First,18.90,998,67.10,5.0,4.78,2.65,0.0,0.0,1.0,0.0,1.0,11
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,First,25.44,936,57.60,5.0,4.78,2.50,1.0,0.0,0.0,0.0,1.0,13

e) Perform select, filter, rename, mutate, arrange and summarize with group by operations (or
their equivalent operations in python) on this dataset.

In [18]:
selec_data = car_data[['Name', 'Year', 'Price', 'Engine', 'Location']]#select
print(selec_data)

                                  Name  Year  Price  Engine    Location
0     Hyundai Creta 1.6 CRDi SX Option  2015  12.50    1582        Pune
1                         Honda Jazz V  2011   4.50    1199     Chennai
2                    Maruti Ertiga VDI  2012   6.00    1248     Chennai
3      Audi A4 New 2.0 TDI Multitronic  2013  17.74    1968  Coimbatore
4               Nissan Micra Diesel XV  2013   3.50    1461      Jaipur
...                                ...   ...    ...     ...         ...
5842                  Maruti Swift VDI  2014   4.75    1248       Delhi
5843          Hyundai Xcent 1.1 CRDi S  2015   4.00    1120      Jaipur
5844             Mahindra Xylo D4 BSIV  2012   2.90    2498      Jaipur
5845                Maruti Wagon R VXI  2013   2.65     998     Kolkata
5846             Chevrolet Beat Diesel  2011   2.50     936   Hyderabad

[5847 rows x 5 columns]

In [19]:
filt_data = car_data[car_data['Location'] == 'Chennai']#filtered Data
print(filt_data)

      Unnamed: 0                                    Name Location  Year  \
1              2                            Honda Jazz V  Chennai  2011
2              3                       Maruti Ertiga VDI  Chennai  2012
7              9          Tata Indica Vista Quadrajet LS  Chennai  2012
37            39   Volkswagen Polo Diesel Trendline 1.2L  Chennai  2013
52            54                Hyundai Grand i10 Sportz  Chennai  2015
...          ...                                     ...      ...   ...
5762        5930         Maruti Swift Dzire VXI Optional  Chennai  2015
5764        5932           Maruti Alto 800 2016-2019 LXI  Chennai  2016
5784        5954                  Toyota Fortuner 4x4 AT  Chennai  2015
5786        5956  Toyota Innova 2.5 GX (Diesel) 7 Seater  Chennai  2012
5827        5999                   Tata Bolt Revotron XT  Chennai  2016

      Kilometers_Driven Owner_Type  Mileage  Engine   Power  Seats  New_Price  \
1                 46000      First      NaN    1199   88.70    5.0       8.61
2                 87000      First    20.77    1248   88.76    7.0       4.78
7                 65932     Second    22.30    1248     NaN    5.0       4.78
37                62000      First    22.07    1199   73.90    5.0       4.78
52                54000      Third    18.90    1197     NaN    5.0       4.78
...                 ...        ...      ...     ...     ...    ...        ...
5762              49900      First    20.85    1197   83.14    5.0       4.78
5764               5700      First    24.70     796   47.30    5.0       4.78
5784              95000      First    12.55    2982  168.50    7.0       4.78
5786              96000      First    12.99    2494  100.00    7.0       4.78
5827              10000      First    17.57    1193   88.70    5.0       7.77

      Price  Fuel_Type_0  Fuel_Type_1  Fuel_Type_2  Transmission_0  \
1      4.50          0.0          0.0          1.0             0.0
2      6.00          1.0          0.0          0.0             0.0
7      1.95          1.0          0.0          0.0             0.0
37     5.00          1.0          0.0          0.0             0.0
52     3.60          0.0          0.0          1.0             0.0
...     ...          ...          ...          ...             ...
5762   4.80          0.0          0.0          1.0             0.0
5764   2.80          0.0          0.0          1.0             0.0
5784  19.60          1.0          0.0          0.0             1.0
5786  11.50          1.0          0.0          0.0             0.0
5827   4.00          0.0          0.0          1.0             0.0

      Transmission_1  Current_Age
1                1.0           13
2                1.0           12
7                1.0           12
37               1.0           11
52               1.0            9
...              ...          ...
5762             1.0            9
5764             1.0            8
5784             0.0            9
5786             1.0           12
5827             1.0            8

[476 rows x 18 columns]

In [20]:
car_data = car_data.rename(columns={'New_Price': 'NewPriceCAR'})#rename
car_data

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,NewPriceCAR,Price,Fuel_Type_0,Fuel_Type_1,Fuel_Type_2,Transmission_0,Transmission_1,Current_Age
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582,126.20,5.0,4.78,12.50,1.0,0.0,0.0,0.0,1.0,9
1,2,Honda Jazz V,Chennai,2011,46000,First,NaN,1199,88.70,5.0,8.61,4.50,0.0,0.0,1.0,0.0,1.0,13
2,3,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248,88.76,7.0,4.78,6.00,1.0,0.0,0.0,0.0,1.0,12
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968,140.80,5.0,4.78,17.74,1.0,0.0,0.0,1.0,0.0,11
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461,63.10,5.0,4.78,3.50,1.0,0.0,0.0,0.0,1.0,11
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,First,28.40,1248,NaN,5.0,7.88,4.75,1.0,0.0,0.0,0.0,1.0,10
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,First,24.40,1120,NaN,5.0,4.78,4.00,1.0,0.0,0.0,0.0,1.0,9
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Second,14.00,2498,112.00,8.0,4.78,2.90,1.0,0.0,0.0,0.0,1.0,12
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,First,18.90,998,67.10,5.0,4.78,2.65,0.0,0.0,1.0,0.0,1.0,11
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,First,25.44,936,57.60,5.0,4.78,2.50,1.0,0.0,0.0,0.0,1.0,13

In [21]:
car_data['NewIncreseprice'] =  car_data['NewPriceCAR']*3
car_data

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,NewPriceCAR,Price,Fuel_Type_0,Fuel_Type_1,Fuel_Type_2,Transmission_0,Transmission_1,Current_Age,NewIncreseprice
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582,126.20,5.0,4.78,12.50,1.0,0.0,0.0,0.0,1.0,9,14.34
1,2,Honda Jazz V,Chennai,2011,46000,First,NaN,1199,88.70,5.0,8.61,4.50,0.0,0.0,1.0,0.0,1.0,13,25.83
2,3,Maruti Ertiga VDI,Chennai,2012,87000,First,20.77,1248,88.76,7.0,4.78,6.00,1.0,0.0,0.0,0.0,1.0,12,14.34
3,4,Audi A4 New 2.0 TDI Multitronic,Coimbatore,2013,40670,Second,15.20,1968,140.80,5.0,4.78,17.74,1.0,0.0,0.0,1.0,0.0,11,14.34
4,6,Nissan Micra Diesel XV,Jaipur,2013,86999,First,23.08,1461,63.10,5.0,4.78,3.50,1.0,0.0,0.0,0.0,1.0,11,14.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5842,6014,Maruti Swift VDI,Delhi,2014,27365,First,28.40,1248,NaN,5.0,7.88,4.75,1.0,0.0,0.0,0.0,1.0,10,23.64
5843,6015,Hyundai Xcent 1.1 CRDi S,Jaipur,2015,100000,First,24.40,1120,NaN,5.0,4.78,4.00,1.0,0.0,0.0,0.0,1.0,9,14.34
5844,6016,Mahindra Xylo D4 BSIV,Jaipur,2012,55000,Second,14.00,2498,112.00,8.0,4.78,2.90,1.0,0.0,0.0,0.0,1.0,12,14.34
5845,6017,Maruti Wagon R VXI,Kolkata,2013,46000,First,18.90,998,67.10,5.0,4.78,2.65,0.0,0.0,1.0,0.0,1.0,11,14.34
5846,6018,Chevrolet Beat Diesel,Hyderabad,2011,47000,First,25.44,936,57.60,5.0,4.78,2.50,1.0,0.0,0.0,0.0,1.0,13,14.34

In [22]:
sort_car_data = car_data.sort_values(by='Location', ascending=True)
sort_car_data#arrange

,Unnamed: 0,Name,Location,Year,Kilometers_Driven,Owner_Type,Mileage,Engine,Power,Seats,NewPriceCAR,Price,Fuel_Type_0,Fuel_Type_1,Fuel_Type_2,Transmission_0,Transmission_1,Current_Age,NewIncreseprice
2265,2334,Toyota Fortuner 2.8 2WD AT,Ahmedabad,2016,88008,Second,12.90,2755,174.50,7.0,34.45,22.50,1.0,0.0,0.0,1.0,0.0,8,103.35
5127,5276,Mercedes-Benz CLA 200 D Sport Edition,Ahmedabad,2015,13500,First,17.90,2143,136.00,5.0,4.78,25.51,1.0,0.0,0.0,1.0,0.0,9,14.34
2430,2511,Hyundai Grand i10 CRDi Asta,Ahmedabad,2014,116905,First,24.00,1120,NaN,5.0,4.78,4.00,1.0,0.0,0.0,0.0,1.0,10,14.34
4011,4140,Hyundai EON D Lite Plus,Ahmedabad,2015,20000,First,21.10,814,55.20,5.0,4.78,2.66,0.0,0.0,1.0,0.0,1.0,9,14.34
936,969,Skoda Rapid 1.5 TDI AT Ambition,Ahmedabad,2015,60001,First,21.66,1498,103.52,5.0,4.78,7.25,1.0,0.0,0.0,1.0,0.0,9,14.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4507,4642,Honda City 1.5 V MT,Pune,2011,102013,First,17.00,1497,118.00,5.0,4.78,3.75,0.0,0.0,1.0,0.0,1.0,13,14.34
4508,4643,Toyota Fortuner 4x2 AT,Pune,2015,36000,First,12.55,2982,168.50,7.0,4.78,22.00,1.0,0.0,0.0,1.0,0.0,9,14.34
4510,4645,BMW 1 Series 118d Base,Pune,2015,46001,First,20.58,1995,143.00,5.0,4.78,16.00,1.0,0.0,0.0,1.0,0.0,9,14.34
4446,4579,Mercedes-Benz E-Class 2009-2013 E250 CDI Elegance,Pune,2014,100000,First,14.21,2143,203.00,5.0,4.78,25.00,1.0,0.0,0.0,1.0,0.0,10,14.34
0,1,Hyundai Creta 1.6 CRDi SX Option,Pune,2015,41000,First,19.67,1582,126.20,5.0,4.78,12.50,1.0,0.0,0.0,0.0,1.0,9,14.34

In [23]:
grouped_summary = car_data.groupby('Year').agg(Average_MPG=('Mileage', 'mean'))
print(grouped_summary)

      Average_MPG
Year
1998    14.866667
1999    15.150000
2000    15.267500
2001    14.440000
2002    15.158333
2003    14.593750
2004    13.743704
2005    14.057955
2006    15.165942
2007    14.844811
2008    15.279264
2009    15.546528
2010    16.330818
2011    16.836608
2012    17.933244
2013    18.311125
2014    18.733929
2015    19.089891
2016    19.609114
2017    19.392990
2018    19.250816
2019    17.861584

In [24]:
car_data.to_csv('clean_cars.csv', index=False)